/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    color: #323232;
    border: none;
}
 input, label {
    display: block;
    width: 100%;
 }

a {
    color: rgb(35, 193, 214);
}

body{
    padding-top: 5vh;
    background-color: #FFF;

}

/* form */

#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 9px 29px 1px rgb(23, 23, 23);
    border-radius: 10px;
    border-color: black;
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}


.half-box{
    flex: 1 1 45%;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-color:  2px rgb(47, 47, 47);
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus{
    border: aqua;
}